---
---
@import "{{ site.theme }}";


.page-header{
color:#ffff;
background-color:#3498DB;
background-image: linear-gradient(to left top, #feac5e, #ff986d, #ff8782, #ff7b9b, #f176b4, #d97fce, #b989e2, #9094ed, #60a4f2, #32b1eb, #29badb, #4bc0c8);
}

h1,h2,h3,h4,h5,h6 {
color:#4BC0C8;
}
